.page-media {
}

.page-media video {
  display: none;
}

.page-media--large img,
.page-media--large canvas {
  height: 20em;
  width: 20em;
}

.page-media--medium img,
.page-media--medium canvas {
  height: 15em;
  width: 15em;
}

.page-media--small img,
.page-media--small canvas {
  height: 10em;
  width: 10em;
}
