.page-button {
  	cursor: pointer;
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.page-button--isDisabled {
  pointer-events: none;
}

.page-button--normal {

}

.page-button--down {
  
}
